extends sign_layout

block body
	div(id='alert')
		div(id='fail_alert' class='alert alert-danger hide')
			button(href='#' class='close' data-dismiss='alert') &times;
			button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id='down') 错误！ 登录时出错！！  
				span(class='caret')
			ul(class='dropdown-menu' role='menu' id='error-menu')
	div(class="middle-box text-center loginscreen animated fadeInDown")
		div(class="form-group")
			input(class="form-control" type="username" placeholder="Username" id="user")
		div(class="form-group")
			input(class="form-control" type="password" placeholder="Password" id="pass")
		button(type="button" class="btn btn-primary block full-width m-b" id="login") Login
		p(class="s-para") Don't have an account?
		button(type="button" class="btn btn-primary btn-signup" id="logup") Sign Up   
		script(src="/js/signin.js")