doctype html
html
    head
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/app.css")
        script(src="/js/jquery-3.2.1.js")
        script(src="/js/bootstrap.min.js")
        title My Blog
    body(class="gray-bg")
        div(class="middle-box text-center loginscreen animated fadeInDown")
            div(class="center_all")
                div
                    h1(class="logo-name") My Blog+
                    p(class="para") Welcome to my blog
    block body