/* New self-made css properties for MyBlog+ */
/*
* Basci Index Page Part 
*/
.row-post{
	width: 295%;
	margin-left: 10px;
	display: inline-block;
}

.footer{
	margin-left: 20px;
	width: 97%;
	margin-right: 20px;
}

.img-circle{
	width: 80px;
	height: 80px;
}

.profile-element{
	margin-left: 35px;
}

.thumbs{
	float: right;
	padding-right: 30px;
	cursor: pointer;
}

.comments{
	float: right;
	cursor: pointer;
}

.logo-name{
	font-size: 140px;
	margin-bottom: 100px;
	margin-top: 100px;
}

.logo-theme{
	margin-left: -100px;
}

.btn-bottom{
	margin-bottom: 50px;
}

.post-item{
	cursor: pointer;
}

.post-item:hover{
	background-color: #ECECEC;
}

.base-btn{
	margin-bottom: 10px;
	padding-left: 5px;
	font-size: 14px;
}

#alert{
	position: fixed;
	right: 20px;
	top: 10px;
	height: 40px;
	width: 250px;
	transform: all 1s;
  }
  
  #fail_alert{
	float: right;
	right: 20px;
	height: 60px;
	width: 250px;
  }
  
  #down{
	right: 20px;
	width: 200px;
	background-color: #f2dede;
	margin-top: -5px;
	margin-left: -10px;
	color: darkred;
	font-weight: bolder;
	border: none;
  }

  .tooltip{
	  width: 200px;
  }

  .tip{
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-weight: bolder;
	font-size: 18px;
	margin-left: 150px;
	margin-top: -35px;
  }

.head-img{
	height: 120px;
	width: 120px;
	transition: all 1s;
	cursor: pointer;
}

.head-img:hover{
	transform: scale(1.1);
}

#user-img{
	transition: all 1s;
}

#user-name{
	padding-left: 8%;
}
/*
* User Profile Page Part 
*/
.profile-img{
	height: 150px;
	width: 150px;
	cursor: pointer;
	transition: all 0.5s;
}

.profile-img:hover{
	transform: scale(1.05);
}

.profile-row{
	display: inline-block;
	margin-left: 35%;
	margin-bottom: 50px;
	width: 600px;
}

.profile-words{
	font-weight: bold;
	font-size: 17px;
}

.profile-input{
	width: 250px;
	height: 25px;
	border-radius: 5px;
	border: 2px solid #ECECEC;
}

.profile-btn{
	margin-right: 100px;
	height: 50px;
	width: 100px;
	font-size: 14px;
	color: white;
	border-radius: 15px;
	border: 2px green;
	background-color: #18a689;
	outline: none;
	transition: all 0.5s;
}

.profile-btn:hover{
	transform: scale(1.1);
	background-color: #0099CC;
}

/*
* Publish Page Part 
*/
.publish-words{
	font-size: 15px;
}

.publish-row{
	display: inline-block;
	margin-left: 38%;
	margin-bottom: 50px;
	width: 600px;
}

.publish-img{
	border: 2px solid #18a689;
	margin-left: 50px;
	height: 140px;
	width: 140px;
	cursor: pointer;
	transition: all 0.5s;
}

.publish-img:hover{
	transform: scale(1.05);
}

.publish-textarea{
	height: 300px;
	width: 250px;
	border-radius: 5px;
	border: 2px solid #ECECEC;
	overflow: hidden;
	resize: none;
}

.publish-div{
	height: 100px;
	width: 110px;
	float: left;
	margin-top: 130px;
}

/*
* Friends Page Part 
*/
.friends-row{
	border: 1px solid #ECECEC;
	border-radius: 10px;
	margin-left: 2%;
	height: 80px;
	width: 95%;
	cursor: pointer;
	margin-bottom: 20px;
}

.friends-row:hover{
	background-color: #ECECEC;
}

.friends-img{
	height: 70px;
	width: 70px;
	margin-left: 15px;
	margin-top: 5px;
}

.friends-name{
	font-size: 17px;
	font-weight: bold;
	margin-left: 20px;
}

.friends-title{
	text-align: center;
	line-height: 50px;
	border-radius: 10px;
	margin-left: 2%;
	height: 50px;
	width: 95%;
	margin-bottom: 10px;
	background-color: #F3F3F4;
	border-bottom: 8px solid white;
}

.friends-left{
	float: left;
	width: 20%;
	height: 100%;
}

.friends-right{
	float: left;
	width: 75%;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 30px;
}

.chat-panel{
	background-color: #F3F3F4;
	width: 100%;
	height: 400px;
}

.send-panel{
	background-color: #F3F3F4;
	border-top: 1px solid #18a689;
	width: 100%;
	height: 250px;
}

.talk-friend{
	text-align: center;
	line-height: 30px;
	border-bottom: 0.1px solid #18a689;
	height: 30px;
	width: 100%;
	background-color: #F3F3F4; 
}

.friends-words{
	font-size: 15px;
	font-weight: bold;
	margin-left: 20px;
}

.send-row{
	height: 30px;
	width: 100%;
}

.friends-textarea{
	background-color: #F3F3F4;
	height: 150px;
	width: 100%;
	margin-top: 5px;
	overflow: hidden;
	resize: none;
	border: none;
	outline: none;
	font-size: 16px;
}

.friend-item{
	top: 22%;
	left: 15%;
}

/*
* Search Friends and Emails Part
*/
.search-left{
	float: left;
	top: 20px;
	width: 45%;
	height: 100%;
}

.search-right{
	float: left;
	top: 20px;
	width: 50%;
	height: 100%;
	margin-left: 30px;
}

.search-input{
	margin-left: 20px;
	width: 350px;
	height: 35px;
	border-radius: 10px;
	outline: none;
	border: 2px solid #ECECEC;
	background-color: #EEEEEE;
	text-align: center;
}

.search-btn{
	margin-left: 20px;
	height: 35px;
	width: 80px;
	font-size: 14px;
	color: white;
	border-radius: 15px;
	border: 2px green;
	background-color: #18a689;
	outline: none;
	transition: all 0.5s;
}

.search-btn:hover{
	transform: scale(1.1);
	background-color: #0099CC;
}

.search-title{
	text-align: center;
	line-height: 50px;
	border-radius: 10px;
	margin-left: 5%;
	height: 50px;
	width: 90%;
	margin-bottom: 10px;
	background-color: #F3F3F4;
	border-bottom: 8px solid white;
}

.search-words{
	font-size: 15px;
	font-weight: bold;
	margin-left: 20px;
}

.search-result{
	width: 450px;
	height: 150px;
	background-color: #F3F3F4;
	margin-left: 20px;
}

.search-r{
	text-align: center;
	line-height: 50px;
	border-radius: 10px;
	margin-left: 20px;
	height: 50px;
	width: 450px;
	margin-top: 20px;
	background-color: #F3F3F4;
	border-bottom: 3px solid #ECECEC;
}

.search-item{
	top: 60%;
	left: 20%;
}

.f-request{
	padding: 8px;
}

/*
* Details Page Style
*/
.details-left{
	float: left;
	font-size: 30px;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	padding: 60px;
	width: 500px;
}

.details-right{
	float: left;
	padding: 40px;
	width: 800px;
	margin-left: 23px;
}

.details-bottom{
	float: left;
	width: 100%;
}

.details-img{
	height: 320px;
	width: 650px;
}

.details-head{
	font-size: 30px;
	font-family: "Times New Roman",Georgia,Serif;
	font-style: italic;
	padding: 60px;
}

.details-content{
	font-size: 20px;
	font-family: "Times New Roman",Georgia,Serif;
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.comment-send{
	padding-top: 50px;
	width: 100%;
	height: 100px;
	margin-left: 4%;
}

.details-input{
	float: left;
	background-color: #ECECEC;
	width: 1000px;
	padding-right: 100px;
}

.send-box{
	padding-left:60px;
	float:left;
	margin-top: -10px;
}

.comments-block{
	height: 100%;
	width: 90%;
	background-color: #ECECEC;
	border-radius: 30px;
	margin-left: 50px;
	transition: all 1s;
}

.comments-item{
	height: 80px;
	width: 90%;
	padding: 10px;
	margin-left: 50px;
	background-color: #ECECEC;
}

.details-words{
	font-size: 17px;
	margin-left: 10px;
}

.details-label{
	margin-right: 8px;
	background-color: #18a689;
	border-radius: 5px;
	padding: 3px 4px;
	font-size: 20px;
}
