extends base

block title
  title MyBlog+ | Blog Details

block body
      #page-wrapper.gray-bg.dashbard-1.animated.fadeInUp(style='min-height: 898px;')
        .row.border-bottom
          nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
            .navbar-header
              a.navbar-minimalize.minimalize-styl-2.btn.btn-primary
                i.fa.fa-bars
              form.navbar-form-custom(role='search', action='')
                .form-group
                  input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
            ul.nav.navbar-top-links.navbar-right
              li
                span.m-r-sm.text-muted.welcome-message Welcome to MyBlog+
              li.dropdown
                a.dropdown-toggle.count-info(data-toggle='dropdown', href='', aria-expanded='false')
                  i.fa.fa-envelope
                  span#number.label.label-warning {{ number }}
                ul#mails-menu.dropdown-menu.dropdown-messages
                  li(v-for="item of m_items", v-on:click="onClickMail(item.username)", style="cursor:pointer;")
                    .dropdown-messages-box
                      a.pull-left
                        img.img-circle(alt='image', v-bind:src='item.imageUrl')
                      .media-body
                        strong {{ item.username }} wants to become friends with you !
                  li.divider
                  li
                    .text-center.link-block
                      a(href='search')
                        i.fa.fa-envelope
                        strong Read All Messages
              li
                a(href='signin')
                  i.fa.fa-sign-out
                  |  Log out
              li
                a.right-sidebar-toggle
                  i.fa.fa-tasks
        .row
          .col-lg-12
            .wrapper.wrapper-content
              .row.row-post
                .col-lg-4
                  .ibox.float-e-margins(id='Post-Area')
                    .ibox-title
                      h5 {{ title }}
                      span.label.label-primary MyBlog+
                      i.fa.fa-thumbs-o-up.thumbs(v-on:click='giveThumb')
                        span {{ thumbs }}
                    .ibox-content(style='float:left;')
                      .details-left
                        span.label.details-label 
                        span Title: {{ title }}
                        br
                        br
                        span.label.details-label 
                        span Editor: {{ editor }}
                        br
                        br
                        span.label.details-label 
                        span Media-Format: {{ format }}
                      .details-right
                        .img
                            img.details-img(alt='image', v-bind:src='fileUrl', v-if='isImage')
                            video(id='postVid',v-if='isVideo', controls, preload="auto")
                              source(v-bind:src='fileUrl')
                              .details-bottom
                        span.details-head Content
                        br
                        br
                        .details-content
                          p(style='word-break: break-all;') {{ content }}
                        span.details-head Comments
                        .comments-block
                          .comments-item(v-for='comment of comments')
                            img.img-circle(alt="img", v-bind:src='comment.userThumbnailURL', style='height:60px;width:60px;')
                            span.details-words(style='word-break: break-all;') {{ comment.poster }} : &nbsp;&nbsp;&nbsp;&nbsp;{{ comment.content }}
                        .comment-send
                          .lead.emoji-picker-container(style='float:left;')
                            input#send-comment.details-input(data-emojiable="true", type="text", v-model='commentEditor')
                          div.send-box
                            input#send-commit.profile-btn(type='button', value='Send', v-on:click='sendComment')


      script(src='js/details.js')
      script(src='js/config.js')
      script(src='js/util.js')
      script(src='js/jquery.emojiarea.js')
      script(src='js/emoji-picker.js')
      script(src='js/base.js')

