extends base

block title
  title MyBlog+ | Friends

block body
      #page-wrapper.gray-bg.dashbard-1.animated.fadeInUp(style='min-height: 898px;')
        .row.border-bottom
          nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
            .navbar-header
              a.navbar-minimalize.minimalize-styl-2.btn.btn-primary
                i.fa.fa-bars
              form.navbar-form-custom(role='search', action='')
                .form-group
                  input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
            ul.nav.navbar-top-links.navbar-right
              li
                span.m-r-sm.text-muted.welcome-message Welcome to MyBlog+
              li.dropdown
                a.dropdown-toggle.count-info(data-toggle='dropdown', href='', aria-expanded='false')
                  i.fa.fa-envelope
                  span.label.label-warning 1
                ul.dropdown-menu.dropdown-messages
                  li
                    .dropdown-messages-box
                      a.pull-left
                        img.img-circle(alt='image', src='img/follower.jpg')
                      .media-body
                        strong Testing....
                        small.text-muted 2018/06/13
                  li.divider
                  li
                    .text-center.link-block
                      a
                        i.fa.fa-envelope
                        strong Read All Messages
              li
                a(href='signin')
                  i.fa.fa-sign-out
                  |  Log out
              li
                a.right-sidebar-toggle
                  i.fa.fa-tasks
        .row
          .col-lg-12
            .wrapper.wrapper-content
              .row.row-post
                .col-lg-4
                  .ibox.float-e-margins
                    .ibox-title
                      h5 My Friends
                      span.label.label-primary MyBlog+
                    .ibox-content(style='float:left;')
                      div
                        .friends-left
                          .friends-title
                            span.friends-name Friends List
                          .friends-row
                            img.friends-img.img-circle(alt='image', src='img/follower.jpg')
                            span.friends-name Follower 1
                            a.dropdown-toggle(data-toggle="true")
                            ul.dropdown-menu.animated.fadeInRight.friend-item(data-toggle="true")
                              li
                                a.f-profiles Check Friend's Profiles
                        .friends-right(style='background-color: #F3F3F4;')
                          div(style='width:1100px;opacity:0;')
                          .friends-title(style='width:100%;margin-left:0;')
                            span.friends-name Chat Room
                          div
                            div.talk-friend
                              span#talking-friend.friends-words Follower 1
                            div.chat-panel
                            div.send-panel
                              .lead.emoji-picker-container
                                textarea#send-text.friends-textarea(data-emojiable="true")
                              div.send-row
                                input#send.profile-btn(type='button', value='Send', style='margin-left: 85%;')
                              

      script(src='js/friends.js')
      script(src='js/config.js')
      script(src='js/util.js')
      script(src='js/jquery.emojiarea.js')
      script(src='js/emoji-picker.js')