extends base

block title 
    title MyBlog+ | Index

block body
    #page-wrapper.gray-bg.dashbard-1.animated.fadeInUp(style='min-height: 898px;')
        .row.border-bottom
            nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                .navbar-header
                    a.navbar-minimalize.minimalize-styl-2.btn.btn-primary
                        i.fa.fa-bars
                    form.navbar-form-custom(role='search', action='')
                        .form-group
                            input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
                ul.nav.navbar-top-links.navbar-right
                    li
                        span.m-r-sm.text-muted.welcome-message Welcome to MyBlog+
                    li.dropdown
                        a.dropdown-toggle.count-info(data-toggle='dropdown', href='', aria-expanded='false')
                            i.fa.fa-envelope
                            span#number.label.label-warning {{ number }}
                        ul#mails-menu.dropdown-menu.dropdown-messages
                            li(v-for="item of m_items", v-on:click="onClickMail(item.username)", style="cursor:pointer;")
                                .dropdown-messages-box
                                a.pull-left
                                    img.img-circle(alt='image', v-bind:src='item.imageUrl')
                                .media-body
                                    strong {{ item.username }} wants to become friends with you !
                            li.divider
                            li
                                .text-center.link-block
                                    a(href='search')
                                        i.fa.fa-envelope
                                        strong Read All Messages
                    li
                        a.logout(href='')
                            i.fa.fa-sign-out
                            |  Log out
                    li
                        a.right-sidebar-toggle
                            i.fa.fa-tasks
        .row
            .col-lg-12
                .wrapper.wrapper-content(id='postList')
                    .row.row-post(v-for='item of items')
                        .col-lg-4(v-show="item.show")
                            .ibox.float-e-margins.panel
                                .ibox-title.panel-heading
                                    .ibox-tools.panel-title
                                        h5(v-on:click='showDetails(item.id)', style='cursor: pointer;') {{ item.title }}
                                        span.label.label-primary MyBlog+
                                        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Editor: {{ item.editor }}
                                        a.collapse-link(data-toggle="collapse", v-bind:href="'#'+getItemDOMID(item.id)")
                                            i.fa.fa-chevron-up
                                        a.close-link(v-on:click="item.show = false")
                                            i.fa.fa-times
                                .ibox-content.post-item.collapse.in.panel-collapse(v-on:click='showDetails(item.id)', v-bind:id="getItemDOMID(item.id)")
                                    div.panel-body
                                        h4(style='word-break: break-all;') {{ item.content }}
                                    i.fa.fa-comments.comments
                                        span {{ item.commentsCount }}
                                    i.fa.fa-thumbs-o-up.thumbs
                                        span {{ item.thumbs }}
                .footer
                    .pull-right
                        | Github @ SYSU532
                    div
                        | MyBlog+ 2018-2020

    #alert
        #fail_alert.alert.alert-danger.hide
            button.close(data-dismiss='alert') &times;
            button#down.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Login Error !&nbsp;&nbsp;&nbsp;
                span.caret
            ul#error-menu.dropdown-menu(role='menu')

    script(src='js/index.js')
    script(src='js/base.js')
