extends base

block title
  title MyBlog+ | Profiles

block body
      #page-wrapper.gray-bg.dashbard-1.animated.fadeInUp(style='min-height: 898px;')
        .row.border-bottom
          nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
            .navbar-header
              a.navbar-minimalize.minimalize-styl-2.btn.btn-primary
                i.fa.fa-bars
              form.navbar-form-custom(role='search', action='')
                .form-group
                  input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
            ul.nav.navbar-top-links.navbar-right
              li
                span.m-r-sm.text-muted.welcome-message Welcome to MyBlog+
              li.dropdown
                a.dropdown-toggle.count-info(data-toggle='dropdown', href='', aria-expanded='false')
                  i.fa.fa-envelope
                  span#number.label.label-warning {{ number }}
                ul#mails-menu.dropdown-menu.dropdown-messages
                  li(v-for="item of m_items", v-on:click="onClickMail(item.username)", style="cursor:pointer;")
                    .dropdown-messages-box
                      a.pull-left
                        img.img-circle(alt='image', v-bind:src='item.imageUrl')
                      .media-body
                        strong {{ item.username }} wants to become friends with you !
                  li.divider
                  li
                    .text-center.link-block
                      a
                        i.fa.fa-envelope
                        strong Read All Messages
              li
                a.logout(href='')
                  i.fa.fa-sign-out
                  |  Log out
              li
                a.right-sidebar-toggle
                  i.fa.fa-tasks
        .row
          .col-lg-12
            .wrapper.wrapper-content
              .row.row-post
                .col-lg-4
                  .ibox.float-e-margins
                    .ibox-title
                      h5 User Profiles
                      span.label.label-primary MyBlog+
                    .ibox-content
                      span.profile-row(style='margin-left: 38%;')
                        span.profile-words User Image: &nbsp;&nbsp;&nbsp;&nbsp;
                        img#head-img.profile-img.img-circle(alt='image', src='img/user.jpg')
                        input(id='updater', type='file', style='display:none;')
                      span.profile-row
                        span.profile-words User Name: &nbsp;&nbsp;&nbsp;&nbsp;
                        input#username.profile-input(readonly='readonly', style='background-color:#F7F7F7;cursor:not-allowed;')
                      span.profile-row
                        span.profile-words User Phone: &nbsp;&nbsp;&nbsp;&nbsp;
                        input#phone.profile-input
                      span.profile-row
                        span.profile-words User Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        input#email.profile-input
                      span.profile-row(style='margin-left: 40%;margin-top:40px;')
                        input#commit.profile-btn(type='button', value='Commit')
                        input#cancel.profile-btn(type='button', value='Cancel')

      script(src='js/user.js')
      script(src='js/base.js')